.main-container(style="width: 632px;height: 236px;position:absolute;")
    fa-app(ng-controller='HeroCtrl')
        fa-modifier(fa-size='[632, 236]')
          fa-surface(fa-background-color='colors.pink')
          fa-modifier(fa-translate='[0, 0, 1]', fa-scale='getBig(washes[0]())', fa-rotate-z='spin(washes[0]())', fa-size='[350, 350]', fa-origin='[0.5, 0.5]', fa-align='[0.5, 0.5]')
            fa-surface(fa-background-color='colors.blue')
          fa-modifier(fa-translate='[slideFromRight(washes[1]()), 0, 1]', fa-size='[632, 236]')
            fa-surface(fa-background-color='colors.green')
          fa-modifier(fa-origin='[0.5, 0.5]', fa-align='[0.5, 0.5]', fa-translate='[0, 0, 5]', fa-scale='getBig(washes[2]())', fa-size='[400, 400]')
            fa-surface.circle(fa-background-color='colors.purple')
          fa-modifier(fa-origin='[0.5, 0.5]', fa-align='[0.5, 0.5]', fa-translate='[0, 0, 5]', fa-scale='getBig(washes[3]())', fa-size='[400, 400]')
            fa-surface.circle(fa-background-color='colors.orange')
          fa-modifier(fa-origin='[0.5, 0.5]', fa-align='[0.5, 0.5]', fa-translate='[0, 0, 10]', fa-scale='getBig(washes[4]())', fa-size='[400, 400]')
            fa-surface.circle(fa-background-color='colors.green')
          fa-modifier(fa-origin='[0.5, 0.5]', fa-align='[0.5, 0.5]', fa-translate='[0, 0, 10]', fa-scale='getBig(washes[5]())', fa-size='[450, 450]')
            fa-surface.circle(fa-background-color='colors.blue')
          fa-modifier(fa-origin='[0.5, 0.5]', fa-align='[0.5, 0.5]', fa-translate='[0, 0, 15]', fa-scale='add(mult(getBig(washes[6]()), [1, 0, 0]), [0, 1, 1])', fa-opacity='inRange(washes[6]())', fa-size='[632, 236]')
            fa-surface(fa-background-color='colors.pink')
