fa-surface(
  fa-size='[true, true]'
  fa-z-index='9999'
)
  .mobile-state-nav
    .menu-icon
      span.octicon.octicon-three-bars
    a(ui-sref="intro" ui-sref-active='active')
      img(src='img/famous-angular-menu-logo_x3.png' height="42px") 
    a(ui-sref="1" ui-sref-active='active')
      | Render Tree
    a(ui-sref="2" ui-sref-active='active')
      | Data Binding
    a(ui-sref="3" ui-sref-active='active')
      | Angular Directives
    a(ui-sref="4" ui-sref-active='active')
      | Organization
    a(ui-sref="5" ui-sref-active='active')
      | No Compromises
