include state-nav

fa-modifier(fa-origin='[0, 0.3]', fa-translate='[-50, 0, 0]', fa-size='[400, 250]')
  fa-modifier(fa-translate='example.frame.translate()')
    fa-surface
      .example-frame

fa-modifier(
  fa-origin='[1, 0.3]'
  fa-translate='[0, -25, 0]'
)
  fa-modifier(fa-translate='content.translate()')
    fa-surface(fa-size="[500, true]")
      .content
        h1 Combine Data-binding with Famo.us surfaces and modifiers 

  fa-modifier(fa-translate='code.frame.translate()')
    fa-surface(fa-size="[500, true]")
      .code
        p fa-surface

include state-footer
