fa-modifier(
  fa-origin="[0.5, 1]"
  fa-translate="[0, -20, 0]"
)
  fa-surface(
    fa-size="[true, true]"
  )
    .state-footer
      .divider
      .links
        a Download
        a Star on GitHub
        a Docs
