fa-view(ts-sheet='FooterSheet')
  fa-modifier(id="footer")
    fa-surface(
      fa-size="[true, true]"
    )
      .state-footer
        .divider
        .footer-links
          a(ui-sref='download' ui-sref-active='active')
            div.octicon.octicon-cloud-download
            | Download
          a(href='https://github.com/famous/famous-angular/')
            div.octicon.octicon-mark-github
            | GitHub
          a(href='docs/api/index.html')
            div.octicon.octicon-file-text
            | Docs

    download-panel
