@font-face {
    font-family: 'Avenir Next W04 Demi';
    src: url('../fonts/7adddd91-84e0-4423-b40e-61945189916d.eot') format('embedded-opentype'), url('../fonts/b0908846-3d5c-4768-af33-5f968b1da156.woff') format('woff'), url('../fonts/fe1602be-28ca-467e-9cd3-7bfc586f31bc.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTW02-Regular';
    src: url('../fonts/3a42a252-67ff-4186-88cf-762f56719ca1.woff') format('woff'), url('../fonts/dbc39ae3-2636-4653-a23e-8938bce2cf51.ttf') format('truetype');
}
