@import '../common/variables'

/****************************************************************
* Doc examples
****************************************************************/

.runnable-example-frame
  width: 100%
  height: 300px
  border: 1px solid #ddd
  border-radius: 5px

.runnable-example-tabs
  margin-top: 10px
  margin-bottom: 20px
