{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

  <!-- Directives -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Directives
    </a>
    <ul>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faAnimation/index.html">
                fa-animation
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/animate/index.html">
                animate
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faApp/index.html">
                fa-app
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faCanvasSurface/index.html">
                fa-canvas-surface
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faClick/index.html">
                fa-click
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faContainerSurface/index.html">
                fa-container-surface
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faDraggable/index.html">
                fa-draggable
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faEdgeSwapper/index.html">
                fa-edge-swapper
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faFlexibleLayout/index.html">
                fa-flexible-layout
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faFlipper/index.html">
                fa-flipper
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faGridLayout/index.html">
                fa-grid-layout
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faHeaderFooterLayout/index.html">
                fa-header-footer-layout
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faImageSurface/index.html">
                fa-image-surface
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faIndex/index.html">
                fa-index
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngClick/index.html">
                ng-click
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngDblclick/index.html">
                ng-dblclick
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngMousedown/index.html">
                ng-mousedown
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngMouseup/index.html">
                ng-mouseup
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngMouseover/index.html">
                ng-mouseover
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngMouseenter/index.html">
                ng-mouseenter
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngMouseleave/index.html">
                ng-mouseleave
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngMousemove/index.html">
                ng-mousemove
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngKeydown/index.html">
                ng-keydown
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngKeyup/index.html">
                ng-keyup
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngKeypress/index.html">
                ng-keypress
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngSubmit/index.html">
                ng-submit
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngFocus/index.html">
                ng-focus
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngBlur/index.html">
                ng-blur
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngCopy/index.html">
                ng-copy
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngCut/index.html">
                ng-cut
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/ngPaste/index.html">
                ng-paste
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faModifier/index.html">
                fa-modifier
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faOptions/index.html">
                fa-options
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faPipeFrom/index.html">
                fa-pipe-from
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faPipeTo/index.html">
                fa-pipe-to
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faRenderNode/index.html">
                fa-render-node
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faScrollView/index.html">
                fa-scroll-view
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faSequentialLayout/index.html">
                fa-sequential-layout
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faSurface/index.html">
                fa-surface
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faTap/index.html">
                fa-tap
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faTouchend/index.html">
                fa-touchend
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faTouchmove/index.html">
                fa-touchmove
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faTouchstart/index.html">
                fa-touchstart
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faVideoSurface/index.html">
                fa-video-surface
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/directive/faView/index.html">
                fa-view
            </a>
        </li>
        
    </ul>
  </li>


  <!-- Side Menus -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Services
    </a>
    <ul>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/service/$famous/index.html">
                $famous
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/service/$animate/index.html">
                $animate
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/service/$famousDecorator/index.html">
                $famousDecorator
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/service/$famousPipe/index.html">
                $famousPipe
            </a>
        </li>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/service/$timeline/index.html">
                $timeline
            </a>
        </li>
        
    </ul>
  </li>


  <!-- Side Menus -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Providers
    </a>
    <ul>
        
        <li>
            <a href="{{relative}}{{ page.versionHref | replace_first: '/', '' }}/api/provider/$famousProvider/index.html">
                $famousProvider
            </a>
        </li>
        
    </ul>
  </li>
