
  <!-- Directives -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Directives
    </a>
    <ul>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faAnimation/">
                fa-animation
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/animate/">
                animate
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faApp/">
                fa-app
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faClick/">
                fa-click
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faGridLayout/">
                fa-grid-layout
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faImageSurface/">
                fa-image-surface
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faIndex/">
                fa-index
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faModifier/">
                fa-modifier
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faPipeFrom/">
                fa-pipe-from
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faPipeTo/">
                fa-pipe-to
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faRenderNode/">
                fa-render-node
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faScrollView/">
                fa-scroll-view
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faSurface/">
                fa-surface
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faTap/">
                fa-tap
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faTouchend/">
                fa-touchend
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faTouchmove/">
                fa-touchmove
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faTouchstart/">
                fa-touchstart
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faView/">
                fa-view
            </a>
        </li>
        
    </ul>
  </li>


  <!-- Side Menus -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Services
    </a>
    <ul>
        
        <li>
            <a href="{{ page.versionHref }}/api/service/$famous/">
                $famous
            </a>
        </li>
        
    </ul>
  </li>


  <!-- Side Menus -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Providers
    </a>
    <ul>
        
        <li>
            <a href="{{ page.versionHref }}/api/provider/$famousProvider/">
                $famousProvider
            </a>
        </li>
        
    </ul>
  </li>
