<!--Bower Scripts-->
<!--<link rel="stylesheet" href="/bower_components/famous/core/famous.css">-->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/default.css">

<link href="/css/main.min.css" rel="stylesheet">

<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/requirejs/require.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/famous-angular/famous.angular.js"></script>
<script src="/app/app.js"></script>
<script src="/app/homepage-controller.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

{% include analytics.html %}
