<section class="introduction">

  <div class="container">

    <img class="home-logo" src="/img/famous-angular-logos.png" />

    <p class="slogan">
      Famo.us reimagined.
    </p>
    <p class="sub-text">
      Intuitive Angular directives for Famo.us.
    </p>

    <div class="button-links">
      <a href="/docs/api">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-file-text-o"></i>
          Docs
        </button>
      </a>
      <a href="https://github.com/FamousInternal/famous-angular">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-github"></i>
          Github
        </button>
      </a>
    </div>

  </div>

</section>
