<section class="examples" ng-controller="homepageExamplesCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{content}}
      </div>
      <div class="col-md-6">
        <div fa-app>
          <fa-grid-layout fa-options="options.grid">
            <fa-surface fa-size="[100, 100]" ng-repeat='test in testArray'>
              <div class='square'>
                Unit test {{$index}}
              </div>
            </fa-surface>
          </fa-grid-layout>
        </div>
      </div>
    </div>
  </div>
</section>
