{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<section class="introduction">

  <div class="container">

    <img class="home-logo" src="{{relative}}img/famous-angular-logos.png" />

    <p class="slogan">
      Famo.us/Angular
      <button data-toggle="modal" href="#download-modal" class="download">
        <i class="fa fa-download"></i>
        Download
      </button>
    </p>

    <div class="modal" id="download-modal">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Download Famo.us/Angular</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-5 text-right">
                  <strong>Download the starter kit</strong>
                </div>
                <div class="col-xs-6 text-left">
                  <a href="//code.famo.us/famous-angular/latest/famous-angular-starter-kit.zip">
                    <button class="btn btn-primary">
                      Latest Version
                    </button>
                  </a>
                </div>
              </div>

              <p>or</p>

              <div class="row">
                <div class="col-xs-5 text-right">
                  <strong>Download with Bower</strong>
                </div>
                <div class="col-xs-6 text-left">
                  <code>bower install famous-angular</code>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
          </div>
        </div>
    </div>

    <p class="sub-text">
      Build highly interactive, data-driven, and modular web applications with the combined strengths of <a href="https://famo.us">Famo.us</a> and <a href="https://angularjs.org">AngularJS.</a><br>
    </p>

    <div class="button-links row">
      <a class="col-sm-2 col-sm-offset-2 col-xs-12" href="{{relative}}faq/index.html">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-question-circle"></i>
          FAQ
        </button>
      </a>
      <a class="col-sm-2 col-xs-12" href="https://github.com/Famous/famous-angular">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-github"></i>
          Github
        </button>
      </a>
      <div class="col-xs-8 col-xs-offset-2 visible-xs hidden-sm hidden-md hidden-lg">
        <div class="bubble" style="width: 100%;">
          <iframe src="/github/github-btn.html?user=Famous&amp;repo=famous-angular&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="100%" height="30"></iframe>
          <br>
          <iframe src="/github/github-btn.html?user=Famous&amp;repo=famous-angular&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="100%" height="30"></iframe>
        </div>
      </div>
      <a class="col-sm-2 col-xs-12" href="{{relative}}docs/api/index.html">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-file-text-o"></i>
          Docs
        </button>
      </a>
      <a class="col-sm-2 col-xs-12" href="https://famo.us/docs">
        <button class="btn btn-outline-inverse btn-lg" style="border-color: #444; color: #444;">
          <i class="fa fa-code"></i>
          Famo.us Docs
        </button>
      </a>
    </div>
    <div class="row">
    <div class="col-sm-4 col-sm-offset-3 hidden-xs visible-sm visible-md visible-lg">
      <div class="bubble">
        <iframe src="/github/github-btn.html?user=famous&amp;repo=famous-angular&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="180" height="30"></iframe>
        <br>
        <iframe src="/github/github-btn.html?user=famous&amp;repo=famous-angular&amp;type=fork&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="180" height="30"></iframe>
      </div>
    </div>

  </div>

</section>
