<section class="examples" ng-controller="homepageExamplesCtrl">
  <div class="container">

    <h2>Code Examples</h2>

    <div class="example-block">
      <div class="description">
        <h3>Generate surfaces and modifiers with ng-repeat</h3>
        <p>
          ng-repeat! ng-repeat! ng-repeat! ng-repeat! ng-repeat! ng-repeat!
        </p>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% contentblock code1 %}
        </div>
        <div class="col-md-4">
          <div fa-app>
            <fa-grid-layout fa-options="options.grid">
              <fa-surface fa-size="[40, 40]" ng-repeat='square in squares'>
                <div class='square'>
                  {% raw %}
                    {{$index}}
                  {% endraw %}
                </div>
              </fa-surface>
            </fa-grid-layout>
          </div>
        </div>
      </div>
    </div>

    <div class="example-block">
      <div class="description row">
        <div class="col-md-offset-4 col-md-8">
          <h3>Leverage Angular bindings with famo.us attributes</h3>
          <p>
            Blah blah blah!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <input type="text" ng-model="translateX">
          <div fa-app>
            <fa-grid-layout fa-options="options.grid">
              <fa-modifier fa-translate="[translateX, 0]">
                <fa-surface fa-size="[40, 40]">
                  <div class='square'>
                    Test
                    {% raw %}
                    {% endraw %}
                  </div>
                </fa-surface>
              </fa-modifier>
            </fa-grid-layout>
          </div>
        </div>
        <div class="col-md-8">
          {% contentblock code2 %}
        </div>
      </div>
    </div>

    <div class="example-block">
      <div class="description">
        <h3>Intuitive for Famo.us users</h3>
        <p>
          Blah blah blah!
        </p>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% contentblock code3 %}
        </div>
        <div class="col-md-4">
          <div fa-app>
            <fa-grid-layout fa-options="options.grid">
              <fa-surface fa-size="[40, 40]" ng-repeat='square in squares'>
                <div class='square'>
                  {% raw %}
                    {{$index}}
                  {% endraw %}
                </div>
              </fa-surface>
            </fa-grid-layout>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
