{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<section class="introduction">

  <div class="container">

    <img class="home-logo" src="{{relative}}img/famous-angular-logos.png" />

    <p class="slogan">
      Famo.us, meet AngularJS.
    </p>
    <p class="sub-text">
      Famo.us/Angular offers the best of both worlds: the rendering strength of Famo.us and the structure of AngularJS.
    </p>

    <div class="button-links">
      <a href="{{relative}}faq">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-question-circle"></i>
          FAQ
        </button>
      </a>
      <a href="https://github.com/FamousInternal/famous-angular">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-github"></i>
          Github
        </button>
      </a>
      <a href="{{relative}}docs/api">
        <button class="btn btn-outline-inverse btn-lg">
          <i class="fa fa-file-text-o"></i>
          Docs
        </button>
      </a>
      <a href="https://famo.us/docs">
        <button class="btn btn-outline-inverse btn-lg" style="border-color: #444; color: #444;">
          <i class="fa fa-code"></i>
          Famo.us Docs
        </button>
      </a>
    </div>

  </div>

</section>
