{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle button" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="color: white; margin-top: 30px;">
        Menu
      </button>
      <a class="navbar-brand" href="/">
        {% if page.header_logo %}
          {{ page.header_logo }}
        {% else %}
          <img src="{{relative}}img/famous-angular-white-logo.png" alt="Famous Angular">
        {% endif %}
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" style="background-color: rgb(218, 38, 46);">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" href="{{relative}}">Home</a></li>
        <li><a class="nav-link" href="{{relative}}faq">FAQ</a></li>
        <li><a class="nav-link" href="https://github.com/FamousInternal/famous-angular">Github</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="btn-group">
          <button class="btn btn-default">
            <a class="nav-link" href="{{relative}}docs/api">Famo.us / Angular Docs</a>
          </button>
          <button class="btn btn-default">
            <a class="nav-link famous-link" href="https://famo.us/docs">Famo.us Docs</a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
