<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle button ionic" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <i class="icon ion-navicon"></i>
      </button>
      <a class="navbar-brand" href="/">
        {% if page.header_logo %}
          {{ page.header_logo }}
        {% else %}
          <img src="/img/famous-angular-logos.png" width="123" height="43" alt="Famous Angular">
        {% endif %}
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/examples">Examples</a></li>
        <li><a class="nav-link" href="/docs/api">Docs</a></li>
        <li><a class="nav-link" href="https://github.com/FamousInternal/famous-angular">Github</a></li>
      </ul>
    </div>
  </div>
</nav>
