<div id="nav-bar">
  <a href="http://famo.us" class="nav-bar-item"><img src="img/famous_logo_white.svg" alt="φ"></a>
  <a href="http://famo.us/university" class="nav-bar-item">Famo.us University</a><a href="http://famo.us/demos" class="nav-bar-item">Demos</a>
  <a href="http://famo.us/angular" class="nav-bar-item">Famo.us/Angular</a><a href="http://famo.us/help" class="nav-bar-item">Help</a>
  <a href="http://famo.us/blog" class="nav-bar-item">Blog</a>
  <a href="http://code.famo.us/famous-starter-kit/famous-starter-kit.zip?source=top" class="download">Download</a>
</div>

<!-- Document flow placeholder -->
<div style="height: 100px;">
</div>
