{% include state-nav.html %}

<div id="state-1" ng-controller="state1Ctrl">
  
  <fa-app style="height: 400px">

    <fa-modifier fa-translate="content.translate()">
      <fa-surface>
        <div class="content">
          <h1>Visualize your Famo.us scene graph in an HTML hierarchy</h1>
          <p>Code</p>
        </div>
      </fa-surface>
    </fa-modifier>

    <fa-modifier fa-origin="[1, 0]" fa-translate="[-50, 0, 0]" fa-size="[400, 250]">

      <fa-modifier fa-translate="frame.translate()">
        <fa-surface>
          <div class="frame"></div>
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="header.translate()">
        <fa-surface fa-size="[380, 30]">
          <div class="header"></div>
        </fa-surface>
      </fa-modifier>

      <fa-modifier fa-translate="sidenav.translate()">
        <fa-surface fa-size="[30, 170]">
          <div class="side"></div>
        </fa-surface>
      </fa-modifier>

    </fa-modifier>

  </fa-app>

</div>

{% include state-footer.html %}
