@import 'variables'

/***********************************************************************
  State 3
***********************************************************************/


.state-3

  .set-perspective
    position absolute
    height 100%
    width 100%
    perspective-origin: 65% 50%

  .cat-tile
    font-family Lato
    background #EAEFEF
    width 100%
    height 100%
    border-radius 5px

    .left-col
      float left
      width 40%
      padding-top 10px
      padding-left 10px

      .cat-picture
        height 90px
        width 90px
        border-radius 999px
        border solid 3px white

    .right-col
      float left
      width 59%
      padding-top 16px

      .cat-name
        font-size 28px
        color #1B1F1F

      .cat-location
        font-size 20px
        color #AE81FF

  .repeat-slider-container
    position absolute
    background white
    border-radius 3px
    width 100%
    height 100%
    padding 35px 30px

  .repeat-slider
    border 0
    border-radius 3px
    margin auto
    height 50px
    width 90%

    &:focus
      outline-width 0

@media (max-width: 767px)
  .state-3
    .repeat-slider-container
      padding 50px
