#viewport
  box-sizing border-box
  position fixed
  top 100px
  height calc(100% - 100px)
  width 100%
  padding 50px 100px 20px
  text-align center
  background -moz-linear-gradient(50% 99.88% 90deg,rgba(12, 9, 13, 1) 0.05%,rgba(29, 23, 33, 1) 100%)
  background -webkit-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
  background -webkit-gradient(linear,50% 99.88% ,50% 1.78% ,color-stop(0.0005,rgba(12, 9, 13, 1) ),color-stop(1,rgba(29, 23, 33, 1) ))
  background -o-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
  background -ms-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
  -ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C090D', endColorstr='#1D1721' ,GradientType=0)"
  background linear-gradient(0deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)

/***********************************************************************
  State Nav and Footer
***********************************************************************/

  .state-nav
    margin-bottom 50px

    a
      color #5C4554
      cursor pointer
      margin 0 12px

      &:hover
        text-decoration none

      &.active
        color #10A0E6

  .state-footer
    position absolute
    bottom 20px
    left 0
    right 0
    margin-left auto
    margin-right auto
    text-align center
    font-size 13px

    .links

      a
        color #EBF0F0 
        cursor pointer
        margin 0 12px

        &:hover
          text-decoration none

    .divider
      margin 0 auto 20px
      width 100px
      height 1px
      background -moz-linear-gradient(0% 50% 0deg,rgba(16, 160, 230, 1) 0%,rgba(110, 50, 249, 1) 50.15%,rgba(218, 38, 46, 1) 100%)
      background -webkit-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)
      background -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 160, 230, 1) ),color-stop(0.5015,rgba(110, 50, 249, 1) ),color-stop(1,rgba(218, 38, 46, 1) ))
      background -o-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)
      background -ms-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)

/***********************************************************************
  Intro State
***********************************************************************/

  #intro
    .logo
      margin-bottom 20px

    h1
      font-weight bold
      font-size 48px
      line-height 50px
      color white
      margin-bottom 30px

      .angular-text
        color #DA262E

    p
      font-size 18px
      line-height 28px
      color #EBF0F0
      margin-bottom 40px

    .links
      margin-bottom 40px

      a
        font-size 19px
        line-height 36px
        color #EBF0F0
        margin 0 20px

        &:hover
          text-decoration none

    .divider
      width 100px
      height 1px
      margin 0 auto 30px
      background -moz-linear-gradient(0% 50% 0deg,rgba(16, 160, 230, 1) 0%,rgba(218, 38, 46, 1) 100%)
      background -webkit-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
      background -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 160, 230, 1) ),color-stop(1,rgba(218, 38, 46, 1) ))
      background -o-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
      background -ms-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)


/***********************************************************************
  State 1
***********************************************************************/

#state-1

  .content
    float left

    h1
      font-weight bold
      font-size 34px
      line-height 50px
      color #FFFFFF
      margin 0

  .example-frame
    margin-top 20px
    position relative
    padding 10px
    width 400px
    height 250px
    border 2px solid white
    border-radius 3px
    border-top 20px solid white

  .example-header
    position absolute
    height 100%
    width 100%
    border solid 3px #F92672

  .example-sidenav
    position absolute
    height 100%
    width 100%
    border solid 3px #AE81FF

  .example-container
    position absolute
    height 100%
    width 100%
    border solid 3px #FD971F 

  .example-content
    position absolute
    height 100%
    width 30%
    border solid 3px #66D9EF 
