.home-container
  padding-top: 50px
  text-align: center

  .home-logo
    height: 200px

  .introduction
    font-size: 48px

  .sub-text
    font-size: 16px

  .button-links
    padding-top: 25px

    .btn
      width: 100px
      margin: 0 10px

    .btn-outline-inverse
      color: #DA262E  
      border: 1px solid #DA262E 
      background-color: white
