$header-color = #363636
$header-text-color = #878785
$header-height = 75px
$sidebar-color = #404040

.navbar-default
  font-size: 16px
  height: $header-height
  background-color: $header-color
  color: $header-text-color

body
  padding-top: $header-height

.side-nav
  background-color: $sidebar-color
