@import 'variables'

/***********************************************************************
  State 5
***********************************************************************/

.state-5

  .content

    h1
      font-weight bold
      font-size 34px
      line-height 50px
      color #FFFFFF
      margin 0

  pre
    background-color inherit
    border 0
    color #BDC7C7

  .code
    color white
    font-family Menlo
    font-size 14px
    line-height 25px
