@import 'variables'

/***********************************************************************
  State 4
***********************************************************************/

.state-4

  .heading

    h1
      font-weight bold
      font-size 34px
      line-height 50px
      color #FFFFFF
      margin 0

  .column
    .column-image
      text-align center

    .column-label
      font-family Lato
      font-size 18px
      line-height 36px
      letter-spacing 1.98px
      text-transform uppercase
      color #FFFFFF

    .learn-more
      text-align center
      color #5C4554
