@import 'variables'

/***********************************************************************
  State 1
***********************************************************************/

.state-1

  .content

    h1
      font-weight bold
      font-size 34px
      line-height 50px
      color #FFFFFF
      margin 0

  .example-frame
    margin-top 20px
    position relative
    padding 10px
    width 400px
    height 250px
    border 2px solid white
    border-radius 3px
    border-top 20px solid white

  .example-header
    position absolute
    height 100%
    width 100%
    border solid 3px #F92672

  .example-sidenav
    position absolute
    height 100%
    width 100%
    border solid 3px #AE81FF

  .example-container
    position absolute
    height 100%
    width 100%
    border solid 3px #FD971F 

  .example-content
    position absolute
    height 100%
    width 30%
    border solid 3px #66D9EF 
