@import 'variables'

/***********************************************************************
  State 5
***********************************************************************/

.state-5

  pre
    background-color inherit
    border 0
    color #BDC7C7
