@import 'variables'

/***********************************************************************
  State 3
***********************************************************************/

.state-3

  .content

    h1
      font-weight bold
      font-size 34px
      line-height 50px
      color #FFFFFF
      margin 0


  .cat-tile
    font-family Lato
    background #EAEFEF
    width 100%
    height 100%
    border-radius 3px

    .left-col
      float left
      width 40%
      padding-top 7.5px
      padding-left 7.5px

      .cat-face
        height 60px
        width 60px
        border-radius 999px
        border solid 3px white

    .right-col
      float left
      width 59%
      padding-top 13px

      .cat-name
        font-size 19px
        color #1B1F1F

      .cat-location
        font-size 14px
        color #AE81FF

  .repeat-slider-container
    background white
    border-radius 3px
    width 100%
    height 45px
    padding-top 15px

  .repeat-slider
    border 0
    border-radius 3px
    margin auto
    height 15px
    width 90%

    &:focus
      outline-width 0

