@import '../common/variables'


/***********************************************************************
  Desktop State Nav
***********************************************************************/

#viewport

  .state-nav
    margin-bottom 50px

    a
      transition $color-transition
      color #5C4554
      cursor pointer
      margin 0 24px
      font-size 22px

      &:hover
        text-decoration none
        transition $color-transition
        color $blue

      &.active
        color $blue

  .scroll-progress-dot
    background-color $blue
    border-radius 999px
    height 5px
    width 5px
