<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}

    {% if page.versionHref != "/docs" %}
      <!-- version {{ page.versionHref }} should not be indexed -->
      <meta name="robots" content="noindex">
    {% endif %}

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} - Angular Famous</title>
    {% include head_includes.html %}
  </head>

  <body class="docs docs-page docs-api">

    {% include nav_links.html %}

    {% include search_results.html %}

    <div class="container-fluid fill">

      <div class="row fill">

        <div class="col-md-3 side-nav fill">

          <div>

            <ul class="nav left-menu">
              <li class="menu-title">
                <div class="picker">
                  {% include api_version_select.html %}
                </div>
              </li>
            </ul>

            <ul class="nav left-menu active-menu">
              {% include api_menu.html %}
            </ul>


          </div>

        </div>

        <div class="col-md-offset-3 col-md-9 main-content">
          {{ content }}
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
