<!DOCTYPE html>
<html lang="en" ng-app="docsApp" ng-controller="DocsController">
  <head>
    {% include meta_tags.html %}

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} - Angular Famous</title>
    {% include head_includes.html %}
  </head>

  <body class="docs docs-page docs-api">

    {% include nav_links.html %}

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-3 col-xs-12 side-nav">

          <ul class="nav left-menu active-menu">
            {% include api_menu.html %}
          </ul>

        </div>

        <div class="col-sm-offset-3 col-sm-9 col-xs-12 main-content">
          {{ content }}
        </div>

      </div>

    </div>

    {% include base_scripts.html %}
    <script src="{{relative}}bower_components/underscore/underscore.js"></script>
    <script src="{{relative}}bower_components/famous/famous-global.min.js"></script>
    <script src="{{relative}}bower_components/angular/angular.min.js"></script>
    <script src="{{relative}}bower_components/famous-angular/dist/famous-angular.min.js"></script>
    <script src="{{relative}}js/main.min.js"></script>
  </body>
</html>
