<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}

    {% if page.versionHref != "/docs" %}
      <!-- version {{ page.versionHref }} should not be indexed -->
      <meta name="robots" content="noindex">
    {% endif %}

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} - Angular Famous</title>
    {% include head_includes.html %}
  </head>

  <body class="faq-page">

    {% include nav_links.html %}

    <div class="container faq-content">

      <div class="index">
        <section>
          <h2>The Basics</h2>
          <ul>

            <li>
              <a href="#q1">
                {% contentblock q1 %}
              </a>
            </li>

            <li>
              <a href="#q2">
                {% contentblock q2 %}
              </a>
            </li>

            <li>
              <a href="#q3">
                {% contentblock q3 %}
              </a>
            </li>

          </ul>
        </section>

        <section>
          <h2>Instructional Questions</h2>
          <ul>
            <li>
              <a href="#q1">
                {% contentblock q1 %}
              </a>
            </li>
            <li>
              <a href="#q2">
                {% contentblock q2 %}
              </a>
            </li>
            <li>
              <a href="#q3">
                {% contentblock q3 %}
              </a>
            </li>
          </ul>
        </section>
      </div>

      <hr>

      <section class="row answer-block">
        <h3>
          <span id="q1"></span>
          {% contentblock q1 %}
        </h3>
        <div class="answer">
          {% contentblock a1 %}
        </div>
      </section>

      <section class="row answer-block">
        <h3>
          <span id="q2"></span>
          {% contentblock q2 %}
        </h3>
        <div class="answer">
          {% contentblock a2 %}
        </div>
      </section>

      <section class="row answer-block">
        <h3>
          <span id="q3"></span>
          {% contentblock q3 %}
        </h3>
        <div class="answer">
          {% contentblock a3 %}
        </p>
      </section>
    </div>

    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
