<!DOCTYPE html>
<html lang="en" ng-app="famous-angular">
  <head>
    {% include meta_tags.html %}

    <meta name="viewport" content="width=1200, initial-scale=1">

    <title>{{page.title}}{% if page.header_sub_title %} - {{ page.header_sub_title}}{% endif %} - Angular Famous</title>
    {% include head_includes.html %}

    <link rel="stylesheet" href="{{relative}}bower_components/famous-angular/dist/famous-angular.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="docs docs-page docs-api" style="height: {{ "{{bodyHeight" }} }}px;">

    {% include nav_links.html %}

    <div id="viewport" ng-controller="homepageCtrl">
      <fa-app style='height: 980px; width: 1920px;' class="{{ "{{stateClasses" }} }}" id="fa-app" fa-perspective="200">
        <ng-include src="'templates/state-nav.html'"></ng-include>
        <ui-view fa-animate-enter='enter($done)' fa-animate-leave='leave($done)'></ui-view>
        <ng-include src="'templates/state-footer.html'"></ng-include>
      </fa-app>
    </div>

    {% include base_scripts.html %}
    <script src="{{relative}}bower_components/underscore/underscore.js"></script>
    <script src="{{relative}}bower_components/famous/famous-global.js"></script>
    <script src="{{relative}}bower_components/angular/angular.min.js"></script>
    <script src="{{relative}}bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="{{relative}}bower_components/famous-angular/dist/famous-angular.js"></script>
    <script src="{{relative}}js/main.min.js"></script>
  </body>
</html>
