<!DOCTYPE html>
<html lang="en" ng-app="famous-angular">
  <head>
    {% include meta_tags.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title ng-bind="pageTitle">Famo.us/Angular</title>
    {% include head_includes.html %}

    <link rel="stylesheet" href="{{relative}}bower_components/famous-angular/dist/famous-angular.min.css">
    <link rel="stylesheet" href="{{relative}}bower_components/octicons/octicons/octicons.css">
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="hidden-xs">
      {% include nav_links.html %}
    </div>

    <div id="viewport">
      <fa-app class="{{ "{{stateClasses" }} }}" id="fa-app" fa-perspective="1000">

        <fa-view ng-if="isMobile()">
          <mobile-nav></mobile-nav>
        </fa-view>

        <fa-view ng-if="isDesktop()">
          <desktop-nav></desktop-nav>
        </fa-view>

        <ui-view fa-animate-enter='enter($done)' fa-animate-leave='leave($done)'></ui-view>

        <state-footer></state-footer>

      </fa-app>
    </div>

    {% include base_scripts.html %}
    <script src="{{relative}}bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="{{relative}}bower_components/lodash/dist/lodash.min.js"></script>
    <script src="{{relative}}js/famous-global-edited.js"></script>
    <script src="{{relative}}bower_components/angular/angular.min.js"></script>
    <script src="{{relative}}bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="{{relative}}bower_components/famous-angular/dist/famous-angular.min.js"></script>
    <script src="{{relative}}build/main.min.js"></script>
  </body>
</html>
