/****************************************************************
* Footer content area
****************************************************************/

.footer
  height: 50px
  background-color: #F0F0F0 
  line-height: 50px
  text-align: right
  padding-right: 30px
  
  p
    margin: 0

    a
      
      &.footer-link
        color: #919191
