/****************************************************************
* Variables
****************************************************************/

$navbar-color = #DA262E
$navbar-text-color = #878785
$navbar-height = 100px
$navbar-link-color = white

$sidebar-color = #F2F2F2
$sidebar-link-color = #404040 
$sidebar-selected-link-color = #fa5c4f

/****************************************************************
* Body / html
****************************************************************/

html, body
  height: 100%

body
  // Top navbar is fixed, so add padding to prevent content from going beneath
  padding-top: $navbar-height
  -webkit-font-smoothing: antialiased
  // famous.css is causing oveflow:hidden resulting in the scroll bar dissapearing
  overflow: scroll !important;

/****************************************************************
* Main content area
****************************************************************/

.main-content
  padding: 48px

/****************************************************************
* Utility classes
****************************************************************/

// For getting sidebar to expand 100% of height
.fill
  height: 100%


/****************************************************************
* Main header navbar
****************************************************************/

.navbar-default
  font-size: 18px
  height: $navbar-height
  background-color: $navbar-color
  color: $navbar-text-color
  border-bottom: 0

  .navbar-brand
    
    img
      height: 50px
      margin-top: 10px

  a
    color: $navbar-link-color !important

    &.selected
      color: $selected-link-color !important

  .navbar-nav
    // TODO: Find a better way to center
    padding-top: 25px

/****************************************************************
* Side nav
****************************************************************/

.side-nav
  background-color: $sidebar-color
  padding-top: 15px
  position: fixed;

  ul
    list-style: none
  
  a
    color: $sidebar-link-color

    &.selected
      color: $sidebar-selected-link-color

  .nav

    li
      
      a
        &:hover
          // Overwrite the default hover styling
          background-color: transparent

/****************************************************************
* Homepage
****************************************************************/

.home

  .introduction
    padding-top: 50px
    text-align: center
    margin-bottom: 100px

    .home-logo
      height: 200px

    .slogan
      font-size: 48px

    .sub-text
      font-size: 16px

    .button-links
      padding-top: 25px

      .btn
        width: 100px
        margin: 0 10px

      .btn-outline-inverse
        color: #DA262E  
        border: 1px solid $navbar-color 
        background-color: white

  .examples
    padding: 100px 0
    background-color: $sidebar-color

    @media (min-width: 1200px)
      .container 
        width: 1000px

  .square
    background-color: red
    position: absolute;
    width: 100%;
    height: 100%;
