@import 'variables'

/****************************************************************
* Body / html
****************************************************************/

html, body
  height 100%
  width 100%
  overflow hidden

body
  -webkit-font-smoothing: antialiased
  font-family 'AvenirNextLTW02-Regular', 'sans-serif'; 
  background #0c090d
  height 100%
  width 100%

#scroll-container
  height 100%
  width 105%
  overflow-y scroll
  overflow-x hidden

  .force-overflow
    width 100%


#viewport
  pointer-events none

  #fa-app
    pointer-events none

    .famous-surface
      pointer-events none

      a
        pointer-events all

      input
        pointer-events all

.fill-width
  width: 100%

/****************************************************************
* General mobile
****************************************************************/

@media (max-width: 769px)
  h1
    font-size: 28px


/****************************************************************
* Main content area
****************************************************************/

.main-content
  padding: 48px

@media (max-width: 769px)
  .main-content
    padding: 20px 15px

/****************************************************************
* Utility classes
****************************************************************/

// For getting sidebar to expand 100% of height
.fill
  height: 100%
