@import 'variables'

/***********************************************************************
  Mobile State Nav
***********************************************************************/

#viewport

  .set-nav-perspective
    perspective-origin 85% 50%
    perspective 1000px
    backface-visibility visible !important

    .famous-angular
      h1
        font-weight bold
        font-size 56px
        color white

      .angular-text
        color #DA262E

    .menu-item
      padding-top 24px
      color $blue
      font-size 50px
      text-align center
      background white
      border-radius 10px
      backface-visibility visible !important

  .mobile-state-nav
    vertical-align top

    .menu-icon
      display inline-block
      padding 40px 50px
      vertical-align top
      color white

      .octicon
        font-size 60px


  .overlay-x
    .octicon
      font-size 100px
      color white
