@import 'variables'

/***********************************************************************
  Mobile State Nav
***********************************************************************/

#viewport

  .set-nav-perspective
    perspective-origin 50% 50%
    perspective 1000px

    .menu-item
      color white
      font-size 40px
      text-align center

  .mobile-state-nav
    vertical-align top
    padding 20px 30px

    .menu-icon
      display inline-block
      vertical-align top
      color white

      .octicon
        font-size 80px

    a
      display inline-block
      vertical-align top
      transition $color-transition
      color #5C4554
      cursor pointer
      margin 0 24px
      font-size 22px

      &:hover
        text-decoration none
        transition $color-transition
        color $blue

      &.active
        color $blue

  .scroll-progress-dot
    background-color $blue
    border-radius 999px
    height 5px
    width 5px

