@import 'variables'

/***********************************************************************
  State 4
***********************************************************************/

.state-4

  .column
    text-align center

    .column-label
      font-family Lato
      font-size 30px
      letter-spacing 1.98px
      text-transform uppercase
      margin-bottom 10px
      color #FFFFFF

    .learn-more
      font-size 22px
      color #5C4554
