@import 'variables'

/***********************************************************************
  State 4
***********************************************************************/

.state-4

  .column-image
    .routing
      width 400px

    .dependency
      width 400px

    .modules
      width 380px

  .column
    text-align center

    .column-label
      font-family Lato
      font-size 30px
      letter-spacing 1.98px
      text-transform uppercase
      margin-bottom 10px
      color #FFFFFF

    .learn-more
      font-size 22px

      a
        color #5C4554

@media (max-width: 767px)
  .state-4
    .column-image
      .routing
        width 350px

      .dependency
        width 350px

      .modules
        width 310px
