@import 'variables'

/***********************************************************************
  State Footer
***********************************************************************/

#viewport

  .state-footer
    text-align center
    font-size 13px

    .footer-links

      a
        color #EBF0F0 
        transition $color-transition
        cursor pointer
        margin 0 24px
        font-size 22px

        &:hover
          text-decoration none

        &.active
          color #10A0E6
          transition $color-transition

        .octicon
          margin-right 15px
          font-size 26px

    .divider
      margin 0 auto 30px
      width 200px
      height 1px
      background -moz-linear-gradient(0% 50% 0deg,rgba(16, 160, 230, 1) 0%,rgba(110, 50, 249, 1) 50.15%,rgba(218, 38, 46, 1) 100%)
      background -webkit-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)
      background -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 160, 230, 1) ),color-stop(0.5015,rgba(110, 50, 249, 1) ),color-stop(1,rgba(218, 38, 46, 1) ))
      background -o-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)
      background -ms-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)

@media (max-width: 767px)
  #viewport
    .state-footer
      .footer-links
        a
          font-size 34px
          margin 0 30px
