@import 'variables'

#viewport
  font-family 'Lato'
  box-sizing border-box
  position fixed
  top 100px
  background white

  #fa-app
    background -moz-linear-gradient(50% 99.88% 90deg,rgba(12, 9, 13, 1) 0.05%,rgba(29, 23, 33, 1) 100%)
    background -webkit-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
    background -webkit-gradient(linear,50% 99.88% ,50% 1.78% ,color-stop(0.0005,rgba(12, 9, 13, 1) ),color-stop(1,rgba(29, 23, 33, 1) ))
    background -o-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
    background -ms-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
    -ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C090D', endColorstr='#1D1721' ,GradientType=0)"
    background linear-gradient(0deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
    height calc(1080px - 100px)
    width 1920px
    margin auto
    transform-style preserve-3d;

@media (max-width: 767px) 
  #viewport
    top 0

    #fa-app
      height 1366px
      width 768px

/***********************************************************************
  Code Snippets
***********************************************************************/

#viewport
  .code
    color white
    font-family Menlo
    font-size 22px

    pre
      background-color inherit
      border 0
      color white

      .grayed
        color #BDC7C7

    code
      font-size 22px
      color white

      .tag
        color $pink

      .attr-name
        color $green 

      .attr-value
        color $yellow 

      &.special
        color lime

/***********************************************************************
  Heading
***********************************************************************/

#viewport
  .heading
    font-weight bold
    font-size 52px
    line-height 70px
    color #FFFFFF
    margin 0

    .heading-code
      color white
      font-family Menlo

@media (max-width: 767px)
  #viewport
    .heading
      text-align center
