@import 'variables'

/***********************************************************************
  Intro State
***********************************************************************/

.state-intro
  text-align center

  .logo
    margin-bottom 20px

  h1
    font-weight bold
    font-size 48px
    line-height 50px
    color white
    margin-bottom 30px

    .angular-text
      color #DA262E

  p
    font-size 18px
    line-height 28px
    color #EBF0F0
    margin-bottom 40px

  .links
    margin-bottom 40px

    a
      font-size 19px
      line-height 36px
      color #EBF0F0
      margin 0 20px

      &:hover
        text-decoration none

  .divider
    width 100px
    height 1px
    margin 0 auto 30px
    background -moz-linear-gradient(0% 50% 0deg,rgba(16, 160, 230, 1) 0%,rgba(218, 38, 46, 1) 100%)
    background -webkit-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
    background -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 160, 230, 1) ),color-stop(1,rgba(218, 38, 46, 1) ))
    background -o-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
    background -ms-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
