@import 'variables'

/***********************************************************************
  State 1
***********************************************************************/

.state-1

  .example-frame
    margin-top 20px
    position absolute
    padding 10px
    width 100%
    height 100%
    border 3px solid white
    border-radius 5px
    border-top 30px solid white

  .example-header
    position absolute
    height 100%
    width 100%
    border solid 5px #F92672

  .example-sidenav
    position absolute
    height 100%
    width 100%
    border solid 5px #AE81FF

  .example-container
    position absolute
    height 100%
    width 100%
    border solid 5px #FD971F 

  .example-content
    position absolute
    height 100%
    width 100%
    border solid 5px #66D9EF 
