@import 'variables'

/***********************************************************************
  State 3
***********************************************************************/

.state-3

  .content

    h1
      font-weight bold
      font-size 34px
      line-height 50px
      color #FFFFFF
      margin 0

  .repeat-slider-container
    background white
    border-radius 3px
    width 100%
    height 45px
    padding-top 15px

  .repeat-slider
    border 0
    border-radius 3px
    margin auto
    height 15px
    width 90%

    &:focus
      outline-width 0

