@import 'variables'

#viewport
  font-family 'Lato'
  box-sizing border-box
  position fixed
  top 100px
  height calc(100% - 100px)
  width 100%
  background -moz-linear-gradient(50% 99.88% 90deg,rgba(12, 9, 13, 1) 0.05%,rgba(29, 23, 33, 1) 100%)
  background -webkit-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
  background -webkit-gradient(linear,50% 99.88% ,50% 1.78% ,color-stop(0.0005,rgba(12, 9, 13, 1) ),color-stop(1,rgba(29, 23, 33, 1) ))
  background -o-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
  background -ms-linear-gradient(90deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)
  -ms-filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C090D', endColorstr='#1D1721' ,GradientType=0)"
  background linear-gradient(0deg, rgba(12, 9, 13, 1) 0.05%, rgba(29, 23, 33, 1) 100%)

  #fa-app
    margin auto
    transform-style preserve-3d;

/***********************************************************************
  State Nav and Footer
***********************************************************************/

  .state-nav
    margin-bottom 50px

    a
      transition $color-transition
      color #5C4554
      cursor pointer
      margin 0 24px
      font-size 22px

      &:hover
        text-decoration none
        transition $color-transition
        color #10A0E6

      &.active
        color #10A0E6

  .scroll-progress-dot
    background-color #10A0E6
    border-radius 999px
    height 5px
    width 5px

  .state-footer
    text-align center
    font-size 13px

    .footer-links

      a
        color #EBF0F0 
        transition $color-transition
        cursor pointer
        margin 0 24px
        font-size 22px

        &:hover
          text-decoration none

        &.active
          color #10A0E6
          transition $color-transition

        .octicon
          margin-right 15px
          font-size 26px

    .divider
      margin 0 auto 30px
      width 200px
      height 1px
      background -moz-linear-gradient(0% 50% 0deg,rgba(16, 160, 230, 1) 0%,rgba(110, 50, 249, 1) 50.15%,rgba(218, 38, 46, 1) 100%)
      background -webkit-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)
      background -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 160, 230, 1) ),color-stop(0.5015,rgba(110, 50, 249, 1) ),color-stop(1,rgba(218, 38, 46, 1) ))
      background -o-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)
      background -ms-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(110, 50, 249, 1) 50.15%, rgba(218, 38, 46, 1) 100%)

/***********************************************************************
  Code Snippets
***********************************************************************/

  .code
    color white
    font-family Menlo
    font-size 22px

    pre
      background-color inherit
      border 0
      color white

      .grayed
        color #BDC7C7

    code
      font-size 22px
      color white

      &.special
        color lime

/***********************************************************************
  Heading
***********************************************************************/

  .heading
    font-weight bold
    font-size 52px
    line-height 70px
    color #FFFFFF
    margin 0

    .heading-code
      color white
      font-family Menlo
