@import 'variables'

/***********************************************************************
  Intro State
***********************************************************************/

.state-intro
  text-align center

  a:hover
    text-decoration none
    

  .logo
    margin-bottom 20px

  .intro-heading
    h1
      font-weight bold
      font-size 80px
      color white

      .angular-text
        color #DA262E

  p
    font-size 30px
    line-height 28px
    color #EBF0F0
    margin-bottom 55px

  .links

    a
      display block
      width 290px
      height 85px
      background-color white
      border-radius 5px
      padding-top 22px
      font-size 28px
      line-height 36px
      color #1B1F1F 
      margin 0 20px

  .divider
    width 150px
    height 2px
    margin 0 auto 30px
    background -moz-linear-gradient(0% 50% 0deg,rgba(16, 160, 230, 1) 0%,rgba(218, 38, 46, 1) 100%)
    background -webkit-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
    background -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(16, 160, 230, 1) ),color-stop(1,rgba(218, 38, 46, 1) ))
    background -o-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)
    background -ms-linear-gradient(0deg, rgba(16, 160, 230, 1) 0%, rgba(218, 38, 46, 1) 100%)

  .stars-forks
    color white
    font-size 24px

  .scroll-message
    .scroll-to
      color #5C4554
      font-size 22px

    a
      font-size 48px
      font-weight lighter

  .built-by
    font-size 26px
    color #5C4554

    .link
      padding-bottom 5px
      border-bottom 2px solid #5C4554

    a
      color #5C4554

