@import 'variables'

#viewport
  font-family 'Lato'
  box-sizing border-box
  position fixed
  top 100px

  #fa-app
    height calc(1080px - 100px)
    width 1920px
    margin auto
    transform-style preserve-3d;

@media (max-width: 767px) 
  #viewport
    top 0

    #fa-app
      height 1366px
      width 768px

/***********************************************************************
  Code Snippets
***********************************************************************/

#viewport
  .code
    color white
    font-family Menlo
    font-size 22px

    pre
      background-color inherit
      border 0
      color white

      .grayed
        color #F2F2F2

    code
      font-size 26px
      color white

      .tag
        color $pink

      .attr-name
        color $green 

      .attr-value
        color $yellow 

      &.special
        color lime

/***********************************************************************
  Heading
***********************************************************************/

#viewport
  .heading
    font-weight bold
    font-size 52px
    line-height 70px
    color #FFFFFF
    margin 0

    .heading-code
      color white
      font-family Menlo

@media (max-width: 767px)
  #viewport
    .heading
      text-align center

/***********************************************************************
  Input Range
***********************************************************************/

#viewport
  input[type=range]
    -webkit-appearance none !important
    background-color #383838
    width 100%
    height 5px
    border-radius 5px
    vertical-align middle

  input[type="range"]::-webkit-slider-thumb
    -webkit-appearance none !important
    background-color #E7E7E7
    border 1px solid black
    border-radius 999px
    height 30px
    width 30px

  input[type="range"]::-moz-range-thumb
    -moz-appearance none !important
    background-color #E7E7E7
    border 1px solid black
    border-radius 999px
    height 30px
    width 30px

@media (max-width: 767px)
  #viewport

    input[type="range"]::-webkit-slider-thumb
      height 60px
      width 60px

    input[type="range"]::-moz-range-thumb
      height 60px
      width 60px
