@import 'variables'

/***********************************************************************
  State 5
***********************************************************************/

.state-5

  pre
    background-color inherit
    border 0
    color #BDC7C7

  .main-container
    fa-app
      width 100%
      height 100%
    .circle
      border-radius 1000px
