/****************************************************************
* Variables
****************************************************************/

$navbar-color = #DA262E 
$navbar-text-color = #878785
$navbar-height = 100px
$navbar-link-color = white
$angular-gray = rgb(180, 180, 180)

$sidebar-color = #F7F7F7 
$sidebar-link-color = #404040 
$sidebar-selected-link-color = #fa5c4f


/*--------------------------------------------------------------*/

$border-color = #fbfbf8
$box-shadow-color = rgba(167, 160, 142, 0.2) 
$text-color = rgb(135, 135, 133)
$background-color = #f0eee9
$container-color = #fcfaf6
$primary-color = #fa5c4f
$secondary-color = #A7A7A7 

$new-primary-color = #10A0E6 

$color-transition = color 0.3s ease;
$opacity-transition = opacity 0.3s ease;
