/****************************************************************
* Variables
****************************************************************/

$navbar-color = #DA262E 
$navbar-text-color = #878785
$navbar-height = 100px
$navbar-link-color = white
$angular-gray = rgb(180, 180, 180)

$sidebar-color = #F7F7F7 
$sidebar-link-color = #404040 
$sidebar-selected-link-color = #fa5c4f
